.subject{
    background-color: white;
    color: coral;
     /* background-image: url('/assets/y.jpg'); */
     font-family: 'Rubik', sans-serif;
     direction: rtl;
     text-align: center;
     padding: 30px;
     margin: auto;width: 55%;
     margin-top: 50px;
    }
    pre,h1{
      color:coral;
        font-family: 'Rubik', sans-serif; 
    }
