.span-wrapper,
.span-wrapper-2 {
    height: 30px;
    width: 80px;
    display: block;
    background-color: #191970;
    color: #fff;
    text-align: center;
    line-height: 30px;
    margin: 10px auto;
    border: 1px solid white;
    cursor: pointer;
}

.red_col {
    color: red;
}

.span-wrapper-2 {
    margin: 2px;
}

.span-wrapper.selected,
.span-wrapper-2.selected {
    border: 1px solid midnightblue;
    background-color: yellow;
    color: midnightblue;
}

.div-outer-wrapper {
    margin-top: 80px;
}

.sum-wrapper {
    float: left;
    bottom: 10px;
    direction: ltr;
    position: absolute;
    left: -20px;
    font-size: 20px;
    font-weight: bold;
}

small.s-error {
    font-size: 12px;
    margin-top: -10px;
    position: relative;
    display: block;
    text-align: center;
}

small.s-error {
    color: red;
    /* font-size: 12px;
    margin-top: -10px;
    position: relative;
    display: block;
    text-align: center; */
}

.mis-wrapper {
    direction: rtl;
}

.mis-wrapper * {
    display: inline-block;
    vertical-align: middle;
}

.mis-wrapper input {
    max-width: 100px;
    height: 30px;
    vertical-align: middle;
}

.download-excel {
    position: absolute;
    top: 50px;
    left: 20px;
    font-size: 30px;
    height: 30px;
    width: 30px;
}

.download-excel-label {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 12px;
    height: 30px;
    width: 80px;
    padding: 10px;
}