<form class="add_patient" [formGroup]="myForm" (ngSubmit)="save()">
    <h5>טופס הוספת הלוואה</h5>
    <button type="button" class="close" aria-label="Close" (click)="OnClose()">
        <span  class="close" aria-hidden="true">×</span>
      </button>

    <div style="margin-top: -5px;">
        <div class="md-form">
            <input class="form-control" mdbInput mdbValidate type="number" id="form1" class="form-control" formControlName="sum">
            <label for="form1" style="font-size: 14px;">סכום</label>
            <errorMessage [control]="myForm.get('sum')"></errorMessage>

            <!-- <div *ngIf="myForm.controls['sum'].touched&&myForm.controls['sum'].errors" class="sadeHova">
                *שדה חובה</div> -->
        </div>
    </div>

    <div style="margin-top: -5px;">
        <div class="md-form">
            <input class="form-control" mdbInput mdbValidate type="number" id="form2" class="form-control" formControlName="prisa">
            <label for="form2" style="font-size: 14px;">פריסה</label>
            <errorMessage [control]="myForm.get('prisa')"></errorMessage>

            <!-- <div *ngIf="myForm.controls['prisa'].touched&&myForm.controls['prisa'].errors" class="sadeHova">
                *שדה חובה</div> -->
        </div>
    </div>

    <div style="margin-top: -5px;">
        <div class="md-form">
            <input class="form-control" mdbInput mdbValidate type="number" id="form3" class="form-control" formControlName="ribit">
            <label for="form3" style="font-size: 14px;">ריבית</label>
            <errorMessage [control]="myForm.get('ribit')"></errorMessage>
            <!-- 
            <div *ngIf="myForm.controls['ribit'].touched&&myForm.controls['ribit'].errors" class="sadeHova">
                *שדה חובה</div> -->
        </div>
    </div>



    <div style="margin-top: -5px;">
        <select class="browser-default custom-select" style="font-size: 14px;" id="id_expense" formControlName="id_expense">
            <option value="" selected hidden>קטגוריה</option>
            <option *ngFor="let c of allCategory" value="{{c.id_expense}}">{{c.name_expense}}</option>
        </select>
        <errorMessage [control]="myForm.get('id_expense')"></errorMessage>
    </div>
    <div style="margin-top: -5px;">
        <div class="md-form">
            <input class="form-control" mdbInput mdbValidate style="text-align:right; direction:rtl;" type="text" id="loan_info" class="form-control" formControlName="loan_info">
            <label for="loan_info" style="font-size: 14px;">פרטים</label>
            <errorMessage [control]="myForm.get('loan_info')"></errorMessage>


        </div>
    </div>
    <div style="margin-top: -5px;">
        <div class="md-form">
            <input class="form-control" mdbInput mdbValidate type="date" id="form5" class="form-control" formControlName="date_ofLoan">
            <label for="form5" style="font-size: 14px;">תאריך הלוואה</label>
            <!-- <div *ngIf="myForm.controls['date_ofLoan'].touched&&myForm.controls['date_ofLoan'].errors" class="sadeHova">
                *שדה חובה</div> -->
        </div>
    </div>
    <div class="footer-wrapper">
        <button class="btn mt-2" mat-raised-button type="submit" [disabled]="!myForm.valid" color="primary" style=" font-family: 'Rubik', sans-serif;
    direction: rtl;">הוספה</button>

    </div>

</form>