<!-- ??? formData סילשתי את כל העמוד- כיון שניגשים למשתנים שלא קיימים ב -->
<!-- 
<form class="editExp"  #form="ngForm" (submit)="onSubmit(form)">
    <h5> עריכת הוצאות</h5>
    <button type="button" class="close" aria-label="Close" (click)="onClose()">
        <span aria-hidden="true">×</span>
    </button>
    <div style="margin: 10px;">

        <div class="md-form">
           <label for="form1" style="font-size: 14px;"> קוד משתמש</label> 
           <input mdbInput readonly="readonly" type="text" name="id_user" #id_user="ngModel" [(ngModel)]="formData.id_user"> 
        </div>

        <div class="md-form">
            <input  mdbInput type="email" name="email" #email="ngModel" [(ngModel)]="formData.email">
            <label for="form1" style="font-size: 14px;">הוצאות קבועות</label> -->
            <!-- אולי לקבל קטגוריה(קבועות או משתנות) -->
        <!-- </div>

        <div class="md-form">
            <label for="form1" style="font-size: 14px;">תאריך</label>
            <input  mdbInput type="date" name="date" #date="ngModel" [(ngModel)]="formData.date"> 
        </div>

        <div class="md-form"> 
            <label for="form1" style="font-size: 14px;">סכום</label>
            <input mdbInput type="number" name="sum" #sum="ngModel" [(ngModel)]="formData.sum">
        </div>

    </div>
        <input type="submit" [disabled]="!form.valid" value="עריכה">
</form> -->