ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    background-color: #f1b10e;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    /* font-family: 'Arimo', sans-serif, 'Montserrat'; */
    font-size: 14px;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
    z-index: 1000;
}

li {
    float: right;
}

li a {
    display: block;
    color: rgb(46, 44, 44);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-right: 10px;
    /*  */
    text-decoration: none;
}


/*  */

li a:hover {
    color: #ffffff;
    /*  border-bottom: 1px solid orange;*/
}

button {
    background: #f09819;
    background: -webkit-linear-gradient(to right, #edde5d, #f09819);
    background: linear-gradient(to right, #edde5d, #f09819);
}

label,
.md-form label {
    right: 0;
    left: auto;
    text-align: right;
}

input {
    text-align: left;
    direction: ltr;
    margin-left: 0px;
}

i {
    margin-right: -2rem;
}