<div style="margin-top: 10px;">
    <div class="subject">
        <h1> שנים</h1>
        <p> השוואת הכנסות מול הוצאות במהלך חודשי השנה
        </p>
        <div style="display: block">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
            </canvas>

            <!-- <canvas mdbChart [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels" [colors]="chartColors" [options]="chartOptions" [legend]="true" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
            </canvas> -->
        </div>
    </div>
</div>
<div class="footer-wrapper">
    <input type="button" *ngFor="let y of years" class="span-wrapper-2" (click)="showGraph($event.target.value)" [class.selected]="selectedYear == y" [value]="y" />
</div>