<div style="
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 60px;
    direction: rtl;
    text-align: right;
  ">
    <mat-icon class="icon download-excel" (click)="downloadExcel()">file_copy</mat-icon>

    <mat-form-field style="font-family: 'Rubik', sans-serif; direction: rtl; text-align: right">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="מסנן" />
    </mat-form-field>
    <br>
    <button class="btn mt-2" mat-raised-button (click)="onAdd()" color="primary" style="font-family: 'Rubik', sans-serif; direction: rtl">
        הוספת הלוואה
      </button>
    <div style="overflow: auto">
        <div class="mat-elevation-z8">
            <mat-table [dataSource]="ListData">
                <mat-header-row *matHeaderRowDef="displayedColumns" style="font-family: 'Rubik', sans-serif; direction: rtl"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                <ng-container matColumnDef="Options">
                    <mat-header-cell *matHeaderCellDef>עריכה | מחיקה</mat-header-cell>
                    <mat-cell *matCellDef="let row">

                        <mat-icon (click)="onEdit(row.id_loan)" class="icon">launch</mat-icon>



                        <mat-icon (click)="onDelete(row.id_loan)" class="icon">delete_outline</mat-icon>

                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="id_loan">
                    <mat-header-cell *matHeaderCellDef>קוד הלוואה</mat-header-cell>
                    <mat-header-cell *matCellDef="let element">{{ element.id_loan }}
                    </mat-header-cell>
                </ng-container>
                <!-- איך להציג את השם של הקטגוריה? -->
                <ng-container matColumnDef="id_expense">
                    <mat-header-cell *matHeaderCellDef>קטגוריה</mat-header-cell>
                    <mat-header-cell *matCellDef="let element">{{ element.Expenses ? element.Expenses.name_expense : "" }}
                    </mat-header-cell>
                </ng-container>
                <ng-container matColumnDef="loan_info">
                    <mat-header-cell *matHeaderCellDef>פרטים</mat-header-cell>
                    <mat-header-cell *matCellDef="let element">{{ element.loan_info }}
                    </mat-header-cell>
                </ng-container>

                <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef>תאריך</mat-header-cell>
                    <mat-header-cell *matCellDef="let element">{{ element.date_ofLoan | date:"dd/MM/yyyy" }}
                    </mat-header-cell>
                </ng-container>

                <ng-container matColumnDef="sum">
                    <mat-header-cell *matHeaderCellDef>סכום</mat-header-cell>
                    <mat-header-cell *matCellDef="let element">{{ element.sum }}
                    </mat-header-cell>
                </ng-container>

                <ng-container matColumnDef="prisa">
                    <mat-header-cell *matHeaderCellDef>פריסה</mat-header-cell>
                    <mat-header-cell *matCellDef="let element">{{ element.prisa }}
                    </mat-header-cell>
                </ng-container>

                <ng-container matColumnDef="alert">
                    <mat-header-cell *matHeaderCellDef>ימים להתראה</mat-header-cell>
                    <mat-header-cell *matCellDef="let element">{{ element.days_toGetMailAlert }}
                    </mat-header-cell>
                </ng-container>
            </mat-table>
        </div>
    </div>


</div>