<form [class.form-wrapper]="!data || !data.isClose" [class.form-all]="data.isClose" [formGroup]="myForm" (ngSubmit)="save()">
    <h5 *ngIf="data && data.id;else:new">טופס עדכון הכנסה </h5>
    <button *ngIf="data && data.isClose" type="button" class="close " aria-label="Close " (click)="OnClose() ">
        <span  class="close " aria-hidden="true ">×</span>
      </button>
    <ng-template #new>
        <h5>טופס הוספת הכנסה חדשה</h5>
    </ng-template>
    <div style="margin-top: -5px;">
        <div class="md-form">
            <input class="form-control" mdbInput mdbValidate type="date" id="form5" class="form-control" formControlName="income_date">
            <label for="form5" style="font-size: 14px;">תאריך ההכנסה</label>

        </div>
    </div>

    <!-- <div style="margin-top: -5px;">
        <label for="id_kind" style="font-size: 14px;">סוג ההכנסה</label>

        <select class="browser-default custom-select" style="font-size: 14px;" id="id_kind" formControlName="id_kind">
        <option value="" selected hidden>סוג הכנסה</option>
        <option *ngFor="let c of allKinds" value="{{c.id_kind}}">{{c.name_kind}}</option>
    </select>
        <errorMessage [control]="myForm.get('id_kind')"></errorMessage>
    </div> -->
    <div style="margin-top: -5px;">
        <label for="id_income" style="font-size: 14px;">שם ההכנסה</label>

        <select class="browser-default custom-select" style="font-size: 14px;" id="id_income" formControlName="id_income">
          <option value="" selected hidden>שם הכנסה</option>
          <option *ngFor="let c of allIncome" value="{{c.id_income}}">{{c.name_income}}</option>
      </select>
        <errorMessage [control]="myForm.get('id_income')"></errorMessage>
    </div>

    <div style="margin-top: -5px;">
        <div class="md-form">
            <input class="form-control" mdbInput mdbValidate type="text" id="income_info" class="form-control" formControlName="income_info">
            <label for="income_info" style="font-size: 14px;">פרטים</label>
            <errorMessage [control]="myForm.get('income_info')"></errorMessage>


        </div>
    </div>
    <div style="margin-top: -5px;">
        <div class="md-form">
            <input class="form-control" mdbInput mdbValidate type="number" id="form1" class="form-control" formControlName="sum">
            <label for="form1" style="font-size: 14px;">סכום</label>
            <errorMessage [control]="myForm.get('sum')"></errorMessage>


        </div>
    </div>

    <div class="footer-wrapper">
        <button class="btn mt-2" mat-raised-button type="submit" [disabled]="!myForm.valid" color="primary" style=" font-family: 'Rubik', sans-serif;
  direction: rtl;">שמור</button>

    </div>

</form>