<footer class="container-fluid">
  <div class="row">

    <div class="col-sm icon_div">
      <p>תמיכת אינטרנט</p>
    </div>

    <div class="col-sm icon_div">
      <p>אבטחת מידע</p>
    </div>

    <div class="col-sm icon_div">
      <p>עזרה</p>
    </div>

    <div class="col-sm icon_div">
      <p>גלישה בטוחה</p>
    </div>

  </div>

  <div class="row">

    <div class="col-sm icon_div">
      | <img src="assets/img/iconinstagram.png"  width="30px"/>
    </div>

    <div class="col-sm icon_div">
      | <img src="assets/img/whtspicon.png"  width="30px"/>
    </div>

    <div class="col-sm icon_div">
      | <img src="assets/img/faceicon.png"  width="30px"/>
    </div>

  </div>

<!--  <div class="share">
<ul style="color: #fadf9d;">
   
  <li>| <img src="assets/img/iconinstagram.png"  width="12px" height="10px"/></li> 
  <li>| <img src="assets/img/whtspicon.png" width="12px" height="10px"/></li>
  <li>| <img src="assets/img/faceicon.png"  width="12px" height="10px"/> </li>
</ul>
</div> -->

&copy; 2021 Haia Mushka Mazuz</footer>
